.header-text {
  font-size: 84px;
  text-align: center;
  color: #3C3030;
  font-family: "Iowan Old Style";
  font-style: normal;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media (max-width: 576px) {
  .header-text {
    font-size: 36px;
    margin-bottom: 20px;

  }
}

.imgElement {
  width: 60.291px;
  height: 60.291px;
  margin-top: -15px;
}

@media (max-width: 576px) {
  .imgElement {
    width: 25px;
    height: 25px;
    margin-top: -7.5px;

  }
}

.hr-margin {
  margin-top: 1px;
  margin-bottom: 5px;
}