.container{
    margin-top: 52px;
    margin-bottom: 31px;
}
.my-element {
    width: 301px;
    height: 408px; 
    border: 1px solid black;
    margin-top: 20px;
    padding: 1px;
}
@media (max-width: 768px) {
    .container{
        margin-top: 60px;
      }
  }
  
  @media (min-width: 769px) {
    .container{
      margin-top: 89px;
    }
  }







/* .picter {
    width: 100%;
    height: auto; 
} */

/* .fontsize {
    font-size: 10px;
} */


