.perent-container {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    margin-bottom: 89px;
}

@media (max-width: 768px) {
    .parent-container {
        margin-top: 50px;
    }
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 267px;
    height: 60px;
    flex-shrink: 0;
}

.search-icon {
    position: absolute;
    left: -35px;
    top: 15px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .search-icon {
        font-size: 1.2em;
        left: -5px;
    }
}


.name {
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-left: 40px;
}

.go {
    display: inline-flex;
    padding: 17px 13px 16px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1px;
    border: 1px solid #E84848;
    background: #E84848;
}

@media (max-width: 768px) {

    .name,
    .go {
        font-size: 16px;
    }
}